@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --color-white: #f8f9fa;
    --color-black: #000000;
    --color-red: #ff5d6b;
    --color-blue: #9aa1f9;
    --color-green: #23fa74;
    --color-yellow: #ffa20a;

    --color-text: var(--color-white);
    --color-background: var(--color-black);

    --line-height: 1.5em;

    --typeface-code: 'VT323', monospace;
    --typeface-text: 'DejaVu Sans Mono', monospace;
}

* {
    text-rendering: geometricPrecision;
}

body {
    height: calc(100dvh - 2em);

    margin: 0;
    padding: 1em;

    font-size: 89%;
    font-family: var(--typeface-text);
    line-height: 150%;

    color: var(--color-text);
    background-color: var(--color-background);
}

body *:focus-visible {
    outline-color: var(--color-text);
    outline-width: 1px;
    outline-style: solid;
}

cli-alert {
    color: var(--color-yellow);
}

cli-danger {
    font-weight: bold;

    color: var(--color-black);
    background-color: var(--color-red);
}

cli-info {
    color: var(--color-blue);
}

cli-title {
    font-weight: bold;
    line-height: 1.5em;

    color: var(--color-background);
    background-color: var(--color-text);
}

a {
    position: relative;

    color: var(--color-text);
}

a[rel="nofollow"]::after,
a[target="_blank"]::after {
    content: '↗';
}

a {
    background: linear-gradient(to left, transparent 50%, var(--color-blue) 50%) right;
    background-size: 210% 100%;
    background-color: transparent;

    transition: background-position 0.4s ease;
}

a:hover {
    color: var(--color-background);

    background-position: left;
    background-color: transparent;

    transition: background-position 0.3s ease;
}

pre {
    padding: 0;
    overflow-x: scroll;
}

code {
    font-size: 1.25em;
    font-family: var(--typeface-code);

    color: var(--color-green);
}

kbd {
    padding: 0.125rem 0.5rem;
    
    font-size: 0.75rem;
    font-family: var(--typeface-text);

    border: 1px solid var(--color-text);
    border-radius: 5px;
}

blockquote {
    margin: 0 0 0 3ch;
}

ol,
ul {
    padding: 0 0 0 3ch;
}

:not(li)>ol,
:not(li)>ul {
    margin: 1.5rem 0 0 0;
}

ol {
    list-style: decimal;
}

ul {
    list-style: square;
}

p:first-child {
    margin: 0;
}

p:not(:first-child) {
    margin: 1.5rem 0 0 0;
}

h1 {
    margin: 2.25rem 0;
}

h2 {
    margin: 2rem 0;
}

h3 {
    margin: 1.75rem 0;
}

h4 {
    margin: 1.5rem 0;
}

img {
    max-width: 100%;
}