@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --color-white: #f8f9fa;
    --color-black: #000000;
    --color-red: #ff5d6b;
    --color-blue: #9aa1f9;
    --color-green: #23fa74;
    --color-yellow: #ffa20a;

    --color-text: var(--color-white);
    --color-background: var(--color-black);

    --line-height: 1.5em;

    --typeface-code: 'VT323', monospace;
    --typeface-text: 'DejaVu Sans Mono', monospace;
}

* {
    text-rendering: geometricPrecision;
}

body {
    height: calc(100dvh - 2em);

    margin: 0;
    padding: 1em;

    font-size: 88%;
    font-family: var(--typeface-text);

    color: var(--color-text);
    background-color: var(--color-background);
}

cli-alert {
    color: var(--color-yellow);
}

cli-danger {
    color: var(--color-black);
    background-color: var(--color-red);
}

cli-info {
    font-weight: bold;

    color: var(--color-blue);
}

cli-title {
    font-weight: bold;
    line-height: 1.5em;

    color: var(--color-background);
    background-color: var(--color-text);
}

a {
    position: relative;

    color: var(--color-text);
}

a[rel="nofollow"]::after,
a[target="_blank"]::after {
    content: '↗';
}

a:link::before {
    position: absolute;

    width: 0;
    height: 100%;

    left: -0.25ch;
    bottom: 0;

    content: "";
    background: var(--color-blue);

    transition: all .3s ease;
}

a:link:focus::before,
a:link:hover::before {
    width: calc(100% + 0.5ch);
    mix-blend-mode: difference;
}

pre {
    padding: 1em 0;
    overflow-x: scroll;
}

code {
    font-size: 1.25em;
    font-family: var(--typeface-code);

    line-height: 0.75em;

    color: var(--color-green);
}

blockquote {
    margin: 0 0 0 3ch;
}

ol,
ul {
    padding: 0 0 0 3ch;
}

ol {
    list-style: decimal;
}

ul {
    list-style: square;
}